/* .tour {
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin-bottom: 20px; 
}

.tourImage {
    width: 150px; 
    height: 100px; 
    margin-top: 10px; 
}

.tourName {
    margin: 0; 
    font-size: 1.5rem; 
    color: #333; 
} */

/* components/tours/Tour.css */
/* Tour.css */
/* .tour {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    text-align: center;
  }
  
  .tour img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
   */
  
