.tour {
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin-bottom: 20px; 
}

.tourImage {
    width: 150px; 
    height: 100px; 
    margin-top: 10px; 
}

.tourName {
    margin: 0; 
    font-size: 1.5rem; 
    color: #333; 
}
